In [94]:
import pandas as pd
import numpy as np
import rich
objets = ['1', '2']
temps = [0]  # Temps en secondes

# MultiIndex pour les objets et le temps
index = pd.MultiIndex.from_product([objets, temps], names=['Objet', 'Temps'])

# Génération de données fictives pour la position, la vitesse et l'accélération
data = {
    'x': np.random.randn(2),
    'y': np.random.randn(2),
    'z': np.random.randn(2),
}

df = pd.DataFrame(data, index=index)

In [95]:
df

                    x         y         z
Objet Temps
1     0     -0.459462 -0.828315  0.309495
2     0      0.720105  0.100298 -0.120984

In [96]:
# data = {
#     'x': np.random.randn(2),
#     'y': np.random.randn(2),
#     'z': np.random.randn(2),
# }
pd.concat([df, df], ignore_index=True)

# rich.inspect(df, methods = True)

          x         y         z
0 -0.459462 -0.828315  0.309495
1  0.720105  0.100298 -0.120984
2 -0.459462 -0.828315  0.309495
3  0.720105  0.100298 -0.120984